[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

Flask = "*"
Flask-Caching = "*"
celery = {version = "~=4.1",extras = ["redis"]}
vk_api = "*"
gunicorn = "*"


[dev-packages]

pytest = "*"