main .container {
    position: fixed;
    top: 56px;
    bottom: 0;
    max-width: 100%;
    width: 100%;
}

@media only screen and (min-width: 601px) {
    main .container {
        top: 64px;
    }
}

main .container .row {
    width: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.hidden {
    display: none;
}

.chain-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.material-icons {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}