{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link type=text/css href="{{ url_for('static', filename='css/animations.css') }}" rel=stylesheet>
{% endblock %}

{% block main %}
    <div class="container valign-wrapper">
        <div class="row" id="input-row">
            <div class="col m12 l8 offset-l2">
                <div class="card-panel animated flipIn" id="input-card">
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="input-field">
                                <i class="material-icons prefix">looks_one</i>
                                <input class="validate" id="userId1" type="text">
                                <label for="userId1">Id пользователя Вконтакте</label>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <div class="input-field">
                                <i class="material-icons prefix">looks_two</i>
                                <input class="validate" id="userId2" type="text">
                                <label for="userId2">Id пользователя Вконтакте</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m4 offset-m4 center-align">
                            <button class="btn waves-effect waves-light" id="scan">Сканировать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden" id="container-row">
            <div class="col s12 valign-wrapper chain-container">
                <div id="preloader" class="center-block">
                    {% include "preloader.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script id="chain-element-template" type="text/template">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <img class="circle center-block responsive-img chain-element-image">
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a class="grey-text chain-element-link"></a>
                </div>
            </div>
        </div>
    </script>
    <script id="chain-arrow-template" type="text/template">
        <i class="material-icons medium">arrow_forward</i>
    </script>
    <script src="{{ url_for('static', filename='js/friends_chain.js') }}"></script>
{% endblock %}