<html>
<head>
    <title>VkGraph</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">

    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/animations.css" rel="stylesheet">
</head>
<body class="grey lighten-3">
<header>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Vk Graph</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li class="active"><a>Общие друзья</a></li>
                    <li><a>Глубинный поиск</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="active"><a>Общие друзья</a></li>
                    <li><a>Глубинный поиск</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row full-height valign-wrapper" id="input-row">
            <div class="col s12 m6 offset-m3 l4 offset-l4">
                <div class="card-panel flipIn">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="validate" id="userId" type="text">
                        <label for="userId">Id пользователя Вконтакте</label>
                        <div class="center-align">
                            <a class="btn waves-effect waves-light" id="scan">Сканировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden" id="container-row">
            <div class="col s12 full-height valign-wrapper no-padding" id="container">
                <div class="preloader-wrapper big active center-block" id="preloader">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="../static/js/d3plus.full.min.js" type="text/javascript"></script>
<script>
    $(document).ready(() => {
        $(".button-collapse").sideNav();

        $("#scan").click(() => {
            //TODO проверка на отсутствие ID
            getUser($("#userId").val())
                .then(user => {
                    $('.card-panel')
                        .toggleClass('flipIn')
                        .one('webkitAnimationEnd oanimationend msAnimationEnd animationend', () => {
                            $("#input-row").hide();
                            $("#container-row").toggleClass("hidden");
                        });

                    getMutualFriends(user)
                        .then(response => drawGraph(response.nodes, response.edges))
                    //TODO Проверка на количество друзей
                })
                .catch(message => {
                    if (message === "NO_USER") {
                        return alert("Пользователя с таким ID не существует");
                    } else if (message === "USER_DEACTIVATED") {
                        return alert("Пользователь деактивирован");
                    }
                });
        });

        function drawGraph(nodes, edges) {
            d3plus.viz()
                .type("network")
                .format({
                    "text": text => {
                        if (text === "primary connections") {
                            return "Общие друзья";
                        } else {
                            return text;
                        }
                    }
                })
                .messages("Загрузка...")
                .container("#container")
                .width({small: 700})
                .resize(true)
                .data(nodes)
                .edges(edges)
                .id("id")
                .text("name")
                .icon("photo")
                .draw(() => $("#preloader").hide())
                .draw(() => {
                });
        }

        function getUser(user_id) {
            return new Promise((resolve, reject) => {
                $.get("user", {user_id: user_id})
                    .done(response => (response.status === "OK") ? resolve(response.data) : reject(response.data))
                    .fail(() => reject());
            });
        }

        function getMutualFriends(user) {
            return new Promise((resolve, reject) => {
                $.post({
                    url: "mutual_friends",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(user)
                })
                    .done(response => (response.status === "OK") ? resolve(response.data) : reject(response.data))
                    .fail(() => reject());
            });
        }
    });
</script>
</body>
</html>