<html>
<head>
    <title>VkGraph</title>
    <meta charset="utf-8">

    <link href="../static/css/materialize.min.css" type="text/css" rel="stylesheet"/>
    <link href="../static/css/material-icons.css" rel="stylesheet">

    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/animations.css" rel="stylesheet">
</head>
<body class="grey lighten-3">
<header>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Vk Graph</a>
                <ul class="right hide-on-med-and-down">
                    <li><a>Общие друзья</a></li>
                    <li><a>Глубинный поиск</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="row valign-wrapper" id="input-row">
            <div class="col s4 offset-s4">
                <div class="card-panel flipIn">
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="validate" id="userId" type="text">
                        <label for="userId">Id пользователя Вконтакте</label>
                        <div class="center-align">
                            <a class="btn waves-effect waves-light" id="scan">Сканировать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden" id="container-row">
            <div class="col s12 full-height valign-wrapper no-padding" id="container">
                <div class="preloader-wrapper big active center-block" id="preloader">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="../static/js/materialize.min.js" type="text/javascript"></script>
<script src="../static/js/d3plus.full.min.js" type="text/javascript"></script>
<script>
    $(function () {
        $("#scan").click(function () {
            $('.card-panel')
                .toggleClass('flipIn')
                .one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function () {
                    $("#input-row").hide();
                    $("#container-row").toggleClass("hidden");
                });

            $.ajax({
                url: "mutual_friends",
                data: {user_id: $("#userId").val()},
                success: function (response) {
                    var graph = d3plus.viz()
                        .format("ru_RU")
                        .container("#container")
                        .resize(true)
                        .type("network")
                        .data(response.nodes)
                        .edges(response.edges)
                        .id("id")
                        .text("name")
                        .icon("photo")
                        .draw();
                },
                error: function () {
                    $("#input-row").show();
                    $("#container-row").toggleClass("hidden");
                    alert("Нет такого пользователя")
                }
            })
        })
    })
</script>
</body>
</html>