{% from "macros.html" import nav_link with context %}
<html>
<head>
    {% block head %}
        <title>VkGraph</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="theme-color" content="#ee6e73">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet">

        <link type=text/css href="{{ url_for('static', filename='css/style.css') }}" rel=stylesheet>
        <link type=text/css href="{{ url_for('static', filename='css/animations.css') }}" rel=stylesheet>
    {% endblock %}
</head>
<body class="grey lighten-3">
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Vk Graph</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        {% block nav_items %}
                            {{ nav_link('mutual_friends_page','Общие друзья','transfer_within_a_station') }}
                            {{ nav_link('friends_chain_page','Цепочка друзей','linear_scale') }}
                        {% endblock %}
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        {{ self.nav_items() }}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    {% block main %}{% endblock %}
    <div class="fixed-action-btn scale-transition scale-out" id="refresh">
        <a class="btn-floating btn-large red waves-effect waves-light">
            <i class="large material-icons">refresh</i>
        </a>
    </div>
</main>
{% include "modal.html" %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
{% endblock %}
</body>
</html>